<div class="header">
    <h1>Nutrisync</h1>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/diet">Get your diet</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>